<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GTW_ATM_INT_ISO_SUB_FLDS" >
  <resultMap id="BaseResultMap" type="com.path.atm.dbmaps.vo.GTW_ATM_INT_ISO_SUB_FLDSVO" >
    <id column="ATM_ISO_SUB_FLDS_CODE" property="ATM_ISO_SUB_FLDS_CODE" />
    <result column="INTERFACE_CODE" property="INTERFACE_CODE" />
    <result column="ATM_ISO_FLDS_CODE" property="ATM_ISO_FLDS_CODE" />
    <result column="SUB_FIELD_CODE" property="SUB_FIELD_CODE" />
    <result column="SUB_FIELD_NAME" property="SUB_FIELD_NAME" />
    <result column="SUB_FIELD_TYPE" property="SUB_FIELD_TYPE" />
    <result column="FIXED_LENGTH" property="FIXED_LENGTH" />
    <result column="DYNAMIC_LENGTH" property="DYNAMIC_LENGTH" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.path.atm.dbmaps.vo.GTW_ATM_INT_ISO_SUB_FLDSVO" extends="BaseResultMap" >
    <result column="EXPRESSION" property="EXPRESSION" />
  </resultMap>
  <sql id="Base_Column_List" >
    ATM_ISO_SUB_FLDS_CODE, INTERFACE_CODE, ATM_ISO_FLDS_CODE, SUB_FIELD_CODE, SUB_FIELD_NAME, 
    SUB_FIELD_TYPE, FIXED_LENGTH, DYNAMIC_LENGTH
  </sql>
  <sql id="Blob_Column_List" >
    EXPRESSION
  </sql>
  <select id="selectGTW_ATM_INT_ISO_SUB_FLDS" resultMap="ResultMapWithBLOBs" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_INT_ISO_SUB_FLDSVO" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from GTW_ATM_INT_ISO_SUB_FLDS
    where ATM_ISO_SUB_FLDS_CODE = #{ATM_ISO_SUB_FLDS_CODE}
  </select>
  <delete id="deleteGTW_ATM_INT_ISO_SUB_FLDS" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_INT_ISO_SUB_FLDSVO" >
    delete from GTW_ATM_INT_ISO_SUB_FLDS
    where ATM_ISO_SUB_FLDS_CODE = #{ATM_ISO_SUB_FLDS_CODE}
  </delete>
  <insert id="insertGTW_ATM_INT_ISO_SUB_FLDS" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_INT_ISO_SUB_FLDSVO" >
    insert into GTW_ATM_INT_ISO_SUB_FLDS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ATM_ISO_SUB_FLDS_CODE != null and ATM_ISO_SUB_FLDS_CODE != emptyBigDecimalValue" >
        ATM_ISO_SUB_FLDS_CODE,
      </if>
      <if test="INTERFACE_CODE != null and INTERFACE_CODE != emptyBigDecimalValue" >
        INTERFACE_CODE,
      </if>
      <if test="ATM_ISO_FLDS_CODE != null and ATM_ISO_FLDS_CODE != emptyBigDecimalValue" >
        ATM_ISO_FLDS_CODE,
      </if>
      <if test="SUB_FIELD_CODE != null and SUB_FIELD_CODE != emptyBigDecimalValue" >
        SUB_FIELD_CODE,
      </if>
      <if test="SUB_FIELD_NAME != null and !&quot;&quot;.equals(SUB_FIELD_NAME)" >
        SUB_FIELD_NAME,
      </if>
      <if test="SUB_FIELD_TYPE != null and !&quot;&quot;.equals(SUB_FIELD_TYPE)" >
        SUB_FIELD_TYPE,
      </if>
      <if test="FIXED_LENGTH != null and FIXED_LENGTH != emptyBigDecimalValue" >
        FIXED_LENGTH,
      </if>
      <if test="DYNAMIC_LENGTH != null and DYNAMIC_LENGTH != emptyBigDecimalValue" >
        DYNAMIC_LENGTH,
      </if>
      <if test="EXPRESSION != null" >
        EXPRESSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ATM_ISO_SUB_FLDS_CODE != null and ATM_ISO_SUB_FLDS_CODE != emptyBigDecimalValue" >
        #{ATM_ISO_SUB_FLDS_CODE},
      </if>
      <if test="INTERFACE_CODE != null and INTERFACE_CODE != emptyBigDecimalValue" >
        #{INTERFACE_CODE},
      </if>
      <if test="ATM_ISO_FLDS_CODE != null and ATM_ISO_FLDS_CODE != emptyBigDecimalValue" >
        #{ATM_ISO_FLDS_CODE},
      </if>
      <if test="SUB_FIELD_CODE != null and SUB_FIELD_CODE != emptyBigDecimalValue" >
        #{SUB_FIELD_CODE},
      </if>
      <if test="SUB_FIELD_NAME != null and !&quot;&quot;.equals(SUB_FIELD_NAME)" >
        #{SUB_FIELD_NAME},
      </if>
      <if test="SUB_FIELD_TYPE != null and !&quot;&quot;.equals(SUB_FIELD_TYPE)" >
        #{SUB_FIELD_TYPE},
      </if>
      <if test="FIXED_LENGTH != null and FIXED_LENGTH != emptyBigDecimalValue" >
        #{FIXED_LENGTH},
      </if>
      <if test="DYNAMIC_LENGTH != null and DYNAMIC_LENGTH != emptyBigDecimalValue" >
        #{DYNAMIC_LENGTH},
      </if>
      <if test="EXPRESSION != null" >
        #{EXPRESSION},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateGTW_ATM_INT_ISO_SUB_FLDS" >
    update GTW_ATM_INT_ISO_SUB_FLDS
    <set >
      <if test="INTERFACE_CODE != null" >
        <choose >
          <when test="INTERFACE_CODE == emptyBigDecimalValue" >
            INTERFACE_CODE = NULL ,
          </when>
          <otherwise >
            INTERFACE_CODE = #{INTERFACE_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="ATM_ISO_FLDS_CODE != null" >
        <choose >
          <when test="ATM_ISO_FLDS_CODE == emptyBigDecimalValue" >
            ATM_ISO_FLDS_CODE = NULL ,
          </when>
          <otherwise >
            ATM_ISO_FLDS_CODE = #{ATM_ISO_FLDS_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SUB_FIELD_CODE != null" >
        <choose >
          <when test="SUB_FIELD_CODE == emptyBigDecimalValue" >
            SUB_FIELD_CODE = NULL ,
          </when>
          <otherwise >
            SUB_FIELD_CODE = #{SUB_FIELD_CODE},
          </otherwise>
        </choose>
      </if>
      <if test="SUB_FIELD_NAME != null" >
        <choose >
          <when test="SUB_FIELD_NAME.equals(&quot;&quot;)" >
            SUB_FIELD_NAME = NULL ,
          </when>
          <otherwise >
            SUB_FIELD_NAME = #{SUB_FIELD_NAME},
          </otherwise>
        </choose>
      </if>
      <if test="SUB_FIELD_TYPE != null" >
        <choose >
          <when test="SUB_FIELD_TYPE.equals(&quot;&quot;)" >
            SUB_FIELD_TYPE = NULL ,
          </when>
          <otherwise >
            SUB_FIELD_TYPE = #{SUB_FIELD_TYPE},
          </otherwise>
        </choose>
      </if>
      <if test="FIXED_LENGTH != null" >
        <choose >
          <when test="FIXED_LENGTH == emptyBigDecimalValue" >
            FIXED_LENGTH = NULL ,
          </when>
          <otherwise >
            FIXED_LENGTH = #{FIXED_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="DYNAMIC_LENGTH != null" >
        <choose >
          <when test="DYNAMIC_LENGTH == emptyBigDecimalValue" >
            DYNAMIC_LENGTH = NULL ,
          </when>
          <otherwise >
            DYNAMIC_LENGTH = #{DYNAMIC_LENGTH},
          </otherwise>
        </choose>
      </if>
      <if test="EXPRESSION != null" >
        EXPRESSION = #{EXPRESSION},
      </if>
    </set>
    where ATM_ISO_SUB_FLDS_CODE = #{ATM_ISO_SUB_FLDS_CODE}
  </sql>
  <update id="updateGTW_ATM_INT_ISO_SUB_FLDS" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_INT_ISO_SUB_FLDSVO" >
    <include refid="sql_updateGTW_ATM_INT_ISO_SUB_FLDS" />
  </update>
</mapper>