<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GTW_ATM_MERCHANT" >
  <resultMap id="BaseResultMap" type="com.path.atm.dbmaps.vo.GTW_ATM_MERCHANTVO" >
    <id column="COMP_CODE" property="COMP_CODE" />
    <id column="MERCHANT_CODE" property="MERCHANT_CODE" />
    <result column="ADDITIONAL_REFERENCE" property="ADDITIONAL_REFERENCE" />
    <result column="IBAN_ACC_NO" property="IBAN_ACC_NO" />
    <result column="REMARK" property="REMARK" />
    <result column="STATUS" property="STATUS" />
    <result column="CREATED_BY" property="CREATED_BY" />
    <result column="CREATED_DATE" property="CREATED_DATE" />
    <result column="MODIFIED_BY" property="MODIFIED_BY" />
    <result column="MODIFIED_DATE" property="MODIFIED_DATE" />
    <result column="APPROVED_BY" property="APPROVED_BY" />
    <result column="APPROVED_DATE" property="APPROVED_DATE" />
    <result column="SUSPENDED_BY" property="SUSPENDED_BY" />
    <result column="SUSPENDED_DATE" property="SUSPENDED_DATE" />
    <result column="TO_BE_STATUS" property="TO_BE_STATUS" />
    <result column="TO_BE_STATUS_BY" property="TO_BE_STATUS_BY" />
    <result column="TO_BE_STATUS_DATE" property="TO_BE_STATUS_DATE" />
    <result column="DELETED_BY" property="DELETED_BY" />
    <result column="DELETED_DATE" property="DELETED_DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMP_CODE, MERCHANT_CODE, ADDITIONAL_REFERENCE, IBAN_ACC_NO, REMARK, STATUS, CREATED_BY, 
    CREATED_DATE, MODIFIED_BY, MODIFIED_DATE, APPROVED_BY, APPROVED_DATE, SUSPENDED_BY, 
    SUSPENDED_DATE, TO_BE_STATUS, TO_BE_STATUS_BY, TO_BE_STATUS_DATE, DELETED_BY, DELETED_DATE
  </sql>
  <select id="selectGTW_ATM_MERCHANT" resultMap="BaseResultMap" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_MERCHANTVO" >
    select 
    <include refid="Base_Column_List" />
    from GTW_ATM_MERCHANT
    where COMP_CODE = #{COMP_CODE}
      and MERCHANT_CODE = #{MERCHANT_CODE}
  </select>
  <delete id="deleteGTW_ATM_MERCHANT" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_MERCHANTVO" >
    delete from GTW_ATM_MERCHANT
    where COMP_CODE = #{COMP_CODE}
      and MERCHANT_CODE = #{MERCHANT_CODE}
  </delete>
  <insert id="insertGTW_ATM_MERCHANT" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_MERCHANTVO" >
    insert into GTW_ATM_MERCHANT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        COMP_CODE,
      </if>
      <if test="MERCHANT_CODE != null and MERCHANT_CODE != emptyBigDecimalValue" >
        MERCHANT_CODE,
      </if>
      <if test="ADDITIONAL_REFERENCE != null and !&quot;&quot;.equals(ADDITIONAL_REFERENCE)" >
        ADDITIONAL_REFERENCE,
      </if>
      <if test="IBAN_ACC_NO != null and !&quot;&quot;.equals(IBAN_ACC_NO)" >
        IBAN_ACC_NO,
      </if>
      <if test="REMARK != null and !&quot;&quot;.equals(REMARK)" >
        REMARK,
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        STATUS,
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        CREATED_BY,
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE,
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        MODIFIED_BY,
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE,
      </if>
      <if test="APPROVED_BY != null and !&quot;&quot;.equals(APPROVED_BY)" >
        APPROVED_BY,
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE,
      </if>
      <if test="SUSPENDED_BY != null and !&quot;&quot;.equals(SUSPENDED_BY)" >
        SUSPENDED_BY,
      </if>
      <if test="SUSPENDED_DATE != null" >
        SUSPENDED_DATE,
      </if>
      <if test="TO_BE_STATUS != null and !&quot;&quot;.equals(TO_BE_STATUS)" >
        TO_BE_STATUS,
      </if>
      <if test="TO_BE_STATUS_BY != null and !&quot;&quot;.equals(TO_BE_STATUS_BY)" >
        TO_BE_STATUS_BY,
      </if>
      <if test="TO_BE_STATUS_DATE != null" >
        TO_BE_STATUS_DATE,
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        DELETED_BY,
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="COMP_CODE != null and COMP_CODE != emptyBigDecimalValue" >
        #{COMP_CODE},
      </if>
      <if test="MERCHANT_CODE != null and MERCHANT_CODE != emptyBigDecimalValue" >
        #{MERCHANT_CODE},
      </if>
      <if test="ADDITIONAL_REFERENCE != null and !&quot;&quot;.equals(ADDITIONAL_REFERENCE)" >
        #{ADDITIONAL_REFERENCE},
      </if>
      <if test="IBAN_ACC_NO != null and !&quot;&quot;.equals(IBAN_ACC_NO)" >
        #{IBAN_ACC_NO},
      </if>
      <if test="REMARK != null and !&quot;&quot;.equals(REMARK)" >
        #{REMARK},
      </if>
      <if test="STATUS != null and !&quot;&quot;.equals(STATUS)" >
        #{STATUS},
      </if>
      <if test="CREATED_BY != null and !&quot;&quot;.equals(CREATED_BY)" >
        #{CREATED_BY},
      </if>
      <if test="CREATED_DATE != null" >
        #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null and !&quot;&quot;.equals(MODIFIED_BY)" >
        #{MODIFIED_BY},
      </if>
      <if test="MODIFIED_DATE != null" >
        #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null and !&quot;&quot;.equals(APPROVED_BY)" >
        #{APPROVED_BY},
      </if>
      <if test="APPROVED_DATE != null" >
        #{APPROVED_DATE},
      </if>
      <if test="SUSPENDED_BY != null and !&quot;&quot;.equals(SUSPENDED_BY)" >
        #{SUSPENDED_BY},
      </if>
      <if test="SUSPENDED_DATE != null" >
        #{SUSPENDED_DATE},
      </if>
      <if test="TO_BE_STATUS != null and !&quot;&quot;.equals(TO_BE_STATUS)" >
        #{TO_BE_STATUS},
      </if>
      <if test="TO_BE_STATUS_BY != null and !&quot;&quot;.equals(TO_BE_STATUS_BY)" >
        #{TO_BE_STATUS_BY},
      </if>
      <if test="TO_BE_STATUS_DATE != null" >
        #{TO_BE_STATUS_DATE},
      </if>
      <if test="DELETED_BY != null and !&quot;&quot;.equals(DELETED_BY)" >
        #{DELETED_BY},
      </if>
      <if test="DELETED_DATE != null" >
        #{DELETED_DATE},
      </if>
    </trim>
  </insert>
  <sql id="sql_updateGTW_ATM_MERCHANT" >
    update GTW_ATM_MERCHANT
    <set >
      <if test="ADDITIONAL_REFERENCE != null" >
        <choose >
          <when test="ADDITIONAL_REFERENCE.equals(&quot;&quot;)" >
            ADDITIONAL_REFERENCE = NULL ,
          </when>
          <otherwise >
            ADDITIONAL_REFERENCE = #{ADDITIONAL_REFERENCE},
          </otherwise>
        </choose>
      </if>
      <if test="IBAN_ACC_NO != null" >
        <choose >
          <when test="IBAN_ACC_NO.equals(&quot;&quot;)" >
            IBAN_ACC_NO = NULL ,
          </when>
          <otherwise >
            IBAN_ACC_NO = #{IBAN_ACC_NO},
          </otherwise>
        </choose>
      </if>
      <if test="REMARK != null" >
        <choose >
          <when test="REMARK.equals(&quot;&quot;)" >
            REMARK = NULL ,
          </when>
          <otherwise >
            REMARK = #{REMARK},
          </otherwise>
        </choose>
      </if>
      <if test="STATUS != null" >
        <choose >
          <when test="STATUS.equals(&quot;&quot;)" >
            STATUS = NULL ,
          </when>
          <otherwise >
            STATUS = #{STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_BY != null" >
        <choose >
          <when test="CREATED_BY.equals(&quot;&quot;)" >
            CREATED_BY = NULL ,
          </when>
          <otherwise >
            CREATED_BY = #{CREATED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="CREATED_DATE != null" >
        CREATED_DATE = #{CREATED_DATE},
      </if>
      <if test="MODIFIED_BY != null" >
        <choose >
          <when test="MODIFIED_BY.equals(&quot;&quot;)" >
            MODIFIED_BY = NULL ,
          </when>
          <otherwise >
            MODIFIED_BY = #{MODIFIED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="MODIFIED_DATE != null" >
        MODIFIED_DATE = #{MODIFIED_DATE},
      </if>
      <if test="APPROVED_BY != null" >
        <choose >
          <when test="APPROVED_BY.equals(&quot;&quot;)" >
            APPROVED_BY = NULL ,
          </when>
          <otherwise >
            APPROVED_BY = #{APPROVED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="APPROVED_DATE != null" >
        APPROVED_DATE = #{APPROVED_DATE},
      </if>
      <if test="SUSPENDED_BY != null" >
        <choose >
          <when test="SUSPENDED_BY.equals(&quot;&quot;)" >
            SUSPENDED_BY = NULL ,
          </when>
          <otherwise >
            SUSPENDED_BY = #{SUSPENDED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="SUSPENDED_DATE != null" >
        SUSPENDED_DATE = #{SUSPENDED_DATE},
      </if>
      <if test="TO_BE_STATUS != null" >
        <choose >
          <when test="TO_BE_STATUS.equals(&quot;&quot;)" >
            TO_BE_STATUS = NULL ,
          </when>
          <otherwise >
            TO_BE_STATUS = #{TO_BE_STATUS},
          </otherwise>
        </choose>
      </if>
      <if test="TO_BE_STATUS_BY != null" >
        <choose >
          <when test="TO_BE_STATUS_BY.equals(&quot;&quot;)" >
            TO_BE_STATUS_BY = NULL ,
          </when>
          <otherwise >
            TO_BE_STATUS_BY = #{TO_BE_STATUS_BY},
          </otherwise>
        </choose>
      </if>
      <if test="TO_BE_STATUS_DATE != null" >
        TO_BE_STATUS_DATE = #{TO_BE_STATUS_DATE},
      </if>
      <if test="DELETED_BY != null" >
        <choose >
          <when test="DELETED_BY.equals(&quot;&quot;)" >
            DELETED_BY = NULL ,
          </when>
          <otherwise >
            DELETED_BY = #{DELETED_BY},
          </otherwise>
        </choose>
      </if>
      <if test="DELETED_DATE != null" >
        DELETED_DATE = #{DELETED_DATE},
      </if>
    </set>
    where COMP_CODE = #{COMP_CODE}
      and MERCHANT_CODE = #{MERCHANT_CODE}
  </sql>
  <update id="updateGTW_ATM_MERCHANT" parameterType="com.path.atm.dbmaps.vo.GTW_ATM_MERCHANTVO" >
    <include refid="sql_updateGTW_ATM_MERCHANT" />
  </update>
</mapper>