<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="GTW_PWS_TMPLT_DET_PARAM" >
  <resultMap id="BaseResultMap" type="com.path.atm.dbmaps.vo.GTW_PWS_TMPLT_DET_PARAMVO" >
    <id column="APP_NAME" property="APP_NAME" />
    <id column="OPERATION" property="OPERATION" />
    <id column="PARAM_ID" property="PARAM_ID" />
    <id column="TEMPLATE_ID" property="TEMPLATE_ID" />
    <id column="WS_NAME" property="WS_NAME" />
  </resultMap>
  <delete id="deleteGTW_PWS_TMPLT_DET_PARAM" parameterType="com.path.atm.dbmaps.vo.GTW_PWS_TMPLT_DET_PARAMVO" >
    delete from GTW_PWS_TMPLT_DET_PARAM
    where APP_NAME = #{APP_NAME}
      and OPERATION = #{OPERATION}
      and PARAM_ID = #{PARAM_ID}
      and TEMPLATE_ID = #{TEMPLATE_ID}
      and WS_NAME = #{WS_NAME}
  </delete>
  <insert id="insertGTW_PWS_TMPLT_DET_PARAM" parameterType="com.path.atm.dbmaps.vo.GTW_PWS_TMPLT_DET_PARAMVO" >
    insert into GTW_PWS_TMPLT_DET_PARAM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null and !&quot;&quot;.equals(APP_NAME)" >
        APP_NAME,
      </if>
      <if test="OPERATION != null and !&quot;&quot;.equals(OPERATION)" >
        OPERATION,
      </if>
      <if test="PARAM_ID != null and !&quot;&quot;.equals(PARAM_ID)" >
        PARAM_ID,
      </if>
      <if test="TEMPLATE_ID != null and TEMPLATE_ID != emptyBigDecimalValue" >
        TEMPLATE_ID,
      </if>
      <if test="WS_NAME != null and !&quot;&quot;.equals(WS_NAME)" >
        WS_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="APP_NAME != null and !&quot;&quot;.equals(APP_NAME)" >
        #{APP_NAME},
      </if>
      <if test="OPERATION != null and !&quot;&quot;.equals(OPERATION)" >
        #{OPERATION},
      </if>
      <if test="PARAM_ID != null and !&quot;&quot;.equals(PARAM_ID)" >
        #{PARAM_ID},
      </if>
      <if test="TEMPLATE_ID != null and TEMPLATE_ID != emptyBigDecimalValue" >
        #{TEMPLATE_ID},
      </if>
      <if test="WS_NAME != null and !&quot;&quot;.equals(WS_NAME)" >
        #{WS_NAME},
      </if>
    </trim>
  </insert>
</mapper>